/* only for testing while building out */
*{
	margin: 0;
	padding: 0;
}
body{
	background: #000;
}
.test1 {
	background-color: blue;
}
.test2 {
	background-color: red;
}
#page_peel{
	position:absolute;
	z-index:5000000;
	top:0px;
	left:0px;
}

/* peel curl -> everything but lt ie 8 */
:root *> #peelz-bg{
	background-image:url('../images/sm-peel-white.png') !important;
	background-position: right top;
	background-repeat: no-repeat;
	background-color:transparent;
	background-size:100% 100% !important;
	
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index: -1;
	width:100%;
	height:100%;
}
/* peel curl -> lt ie 8 */
@media \0screen\,screen\9 {
	#peelz-bg{
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/sm-peel-white.png',sizingMethod='scale')";
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/sm-peel-white.png',sizingMethod='scale');
		
		background-position: right top;
		background-repeat: no-repeat;
		background-color:transparent;
		background-size:100% 100% !important;
		
		overflow:hidden;
		position:absolute;
		top:0px;
		left:0px;
		z-index: -1;
		width:100%;
		height:100%;
		}
}
/* Peel curl  -> everything but lt ie 8 */
:root *> #peelz-curl{
	background:url('../images/large-peel-curl.png') right top no-repeat;
	background-size:100% 100%;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	z-index:4;
	width:100%;
	height:100%;
}
/* Peel curl  -> lt ie 8 */
@media \0screen\,screen\9 {
	#peelz-curl{
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/large-peel-curl.png',sizingMethod='scale');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/large-peel-curl.png',sizingMethod='scale')";
		overflow:hidden;
		background-size:100% 100%;
		position:absolute;
		top:0px;
		left:0px;
		z-index:4;
		width:100%;
		height:100%;
		}
}
.small-intro{
	z-index: 1;
	position: absolute;
}
.large-intro{
	width:80px;
	height:140px;
	overflow:hidden;
	margin-top: 0px;
	z-index: 2;
}
.large-intro #peel-close{
	background: url('../images/close-btn.jpg') 0 0 no-repeat;
	width: 15px;
	height: 15px;
	display: block;
	text-indent: -99999px;
	font-size: 0;
	z-index: 10;
	position: absolute;
	bottom: 0;
	right: 0;
	
}